[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
grpcio-tools = "*"
numpy = "*"
flake8 = "*"
isort = "*"
yapf = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
mypy-protobuf = "*"

[packages]
Twisted = "*"
autobahn = "*"
base58 = "*"
colorama = "*"
ConfigArgParse = "*"
cryptography = "*"
graphviz = "*"
grpcio = "*"
ipython = "*"
mnemonic = "*"
prometheus_client = "*"
protobuf = "*"
pyOpenSSL = "*"
pycoin = "*"
pywin32 = {version = "*",os_name = "== 'nt'"}
requests = "*"
service_identity = "*"
pexpect = "*"
intervaltree = "*"
structlog = "*"
aiohttp = "*"

[requires]
python_version = "3.6"
