[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
grpcio-tools = "<1.22"
numpy = "<1.17"
flake8 = "<3.8"
isort = "<4.4"
yapf = "<0.28"
mypy = "<0.702"
pytest = "<4.6"
pytest-cov = "<2.8"
mypy-protobuf = "<1.11"

[packages]
twisted = "<19.3"
autobahn = "<19.6"
base58 = "<1.1"
colorama = "<0.5"
configargparse = "<0.15"
cryptography = "<2.10"
graphviz = "<0.11"
grpcio = "<1.22"
ipython = "<7.6"
mnemonic = "<0.19"
prometheus_client = "<0.7"
protobuf = "<3.9"
pyopenssl = "<19.2"
pycoin = "<0.91"
pywin32 = {version = "<228",os_name = "== 'nt'"}
requests = "<2.23"
service-identity = "<18.2"
pexpect = "<4.8"
intervaltree = "<3.1"
structlog = "<20.2"
aiohttp = "<3.7"

[requires]
python_version = "3.6"
