# Copyright 2019 Hathor Labs
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[tool.poetry]
name = "hathor"
version = "0.37.3"
description = "Hathor Network full-node"
authors = ["Hathor Team <contact@hathor.network>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://hathor.network/"
repository = "https://github.com/HathorNetwork/hathor-core/"
# https://pypi.org/classifiers/
classifiers = [
    "Programming Language :: Python :: 3.6",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: Apache Software License",
    "Private :: Do Not Upload",
]
exclude = ["tests", "tests.*"]

[tool.poetry.scripts]
hathor-cli = 'hathor.cli.main:main'

[tool.poetry.dev-dependencies]
numpy = "<1.17"
flake8 = "<3.8"
isort = "<4.4"
yapf = "<0.28"
mypy = "<0.702"
pytest = "<4.6"
pytest-cov = "<2.8"
mypy-protobuf = "<1.11"
grpcio-tools = "<1.22"

[tool.poetry.dependencies]
python = "~3.6"
twisted = "<19.3"
autobahn = "<19.6"
base58 = "<1.1"
colorama = "<0.5"
configargparse = "<0.15"
cryptography = "<2.10"
graphviz = "<0.11"
grpcio = {version = "<1.22", optional = true}
ipython = "<7.6"
mnemonic = "<0.19"
prometheus_client = "<0.7"
protobuf = "<3.9"
pyopenssl = "<19.2"
pycoin = "<=0.90.20200322"
pywin32 = {version = "<228", markers = "sys_platform == 'win32'"}
requests = "<2.23"
service-identity = "<18.2"
pexpect = "<4.8"
intervaltree = "<3.1"
structlog = "<20.2"
cython = {version = "<0.30", optional = true}
python-rocksdb = {version = "^0.7.0", optional = true}
aiohttp = "<3.7"

[tool.poetry.extras]
rocksdb = ["cython", "python-rocksdb"]
grpc = ["grpcio", "grpcio-tools"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
