base58==1.0.0
Twisted==18.7.0
autobahn==18.8.1

-e git+https://github.com/earonesty/cryptography.git@compressed-point-support#egg=cryptography

pyOpenSSL==18.0.0
service-identity

mnemonic==0.18
-e git+https://github.com/richardkiss/pycoin#egg=pycoin

graphviz==0.9

intervaltree==2.1.0

requests

flake8
nose
coverage
