<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <center>
    <img width="80%"  src="{{ url_for('static', filename='hathor-logo.png') }}"/>
    <ul>
      <li><a href="{{ url_for('main') }}">Main</a>
      <li><a href="{{ url_for('connections') }}">Connections</a>
      <li><a href="{{ url_for('graph') }}">Graph</a>
    </ul>
  </center>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>